{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	{{ 'suivi.avenant_affichage'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.avenant'|trans({}, 'suivi') }} n°{{ av.id }}</h2>

    <i>{{ 'suivi.version'|trans({}, 'suivi') }} {{av.version}}</i>

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">{{ 'suivi.etudes_list_retour'|trans({}, 'suivi') }}</a>
        <a href="{{ path('mgateSuivi_av_modifier', {'id': av.id}) }}">{{ 'suivi.avenant_modifier'|trans({}, 'suivi') }}</a>

    </p>

{% endblock %}
