<nav class="navbar" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-recap">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<span class="navbar-brand">{{ 'suivi.etude.etude'|trans({}, 'suivi') }} {{ etude.reference }} |</span>
	</div>
	<div class="collapse navbar-collapse navbar-recap">
		<ul class="nav  navbar-nav">
			<li><a href="{{ path('MgateSuivi_etude_modifier', {'nom': etude.nom}) }}"><span class="fa fa-pencil"></span> {{ 'suivi.modifier'|trans({}, 'suivi') }}</a></li>
			<li><a href="{{ path('MgateSuivi_clientcontact_ajouter', {'id': etude.id}) }}"><span class="fa fa-list-alt"></span> {{ 'suivi.contact_client_ajouter'|trans({}, 'suivi') }}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ path('MgateSuivi_etude_homepage') }}"><span class="fa fa-th-list"></span> {{ 'suivi.retour_liste'|trans({}, 'suivi') }}</a></li>
		</ul>
	</div>
</nav>


{% if etude.stateDescription %}
<div class="alert alert-block alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>{{ 'suivi.information_suiveur'|trans({}, 'suivi') }}</h4>
				{{ etude.stateDescription }}
</div>
{% endif %}

<table style="table-layout: fixed;"><!-- class="table" -->
	<tr>
		<td style="width: 25%;" valign="top">
			<table class="table table-bordered table-striped" style="padding-top: 0px;">
				<tr class="alert-{{ (etude.stateID == 1 ? "info" : (etude.stateID == 2 ? "success" : (etude.stateID == 3 ? "warning" : (etude.stateID == 4 ? "" : "error")))) }}">
					<td colspan="2" >
						<h4>{{ 'suivi.etat'|trans({}, 'suivi') }} : {{ (etude.stateID == 4 ? "Terminée" : (etude.stateID == 5 ? "Avortée" : (etude.stateID == 3 ? "En Pause" : (etude.stateID == 2 ? "En Cours" : "En négociation")))) }}</h4>
					</td>
				</tr>
				<tr>
					<th>{{ 'suivi.client'|trans({}, 'suivi') }}</th>
					<td>{% include "MgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.suiveur'|trans({}, 'suivi') }}</th>
					<td>{% include "MgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.suiveurQualite'|trans({}, 'suivi') }}</th>
					<td>{% include "MgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveurQualite} %}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.description'|trans({}, 'suivi') }}</th>
					<td>{{etude.description }}</td>
				</tr>
                <tr>
					<th>{{ 'suivi.domaine_competence'|trans({}, 'suivi') }}</th>
					<td>{{ etude.domaineCompetence ? etude.domaineCompetence.nom : "Non défini" }}</td>
				</tr>
                <tr>
					<th>{{ 'suivi.source_prospection'|trans({}, 'suivi') }}</th>
					<td>{{etude.sourceDeProspectionToString }}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.creation'|trans({}, 'suivi') }}</th>
					<td>{{ etude.dateCreation|date("d/m/Y") }}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.fin'|trans({}, 'suivi') }}</th>
					<td>{% if etude.avs | length > 0 %}<s><b>{%endif%}{{ etude.dateFin|date("d/m/Y") }}{% if etude.avs | length > 0 %}</b></s><br />{{ etude.dateFin(true)|date("d/m/Y") }}{%endif%}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.jeh'|trans({}, 'suivi') }} - {{ 'suivi.prix'|trans({}, 'suivi') }}</th>
					<td>{{etude.nbrJEH | default('0') }} {{ 'suivi.jeh'|trans({}, 'suivi') }} - {{ etude.montantHT | default('0') }} € {{ 'suivi.ht'|trans({}, 'suivi') }}  ({{ 'suivi.dont_frais'|trans({}, 'suivi') }} : {{ etude.fraisDossier | default('0') }} €)</td>
				</tr>
			</table>
		</td>
		<td style="padding-left: 20px; width: 75%;" valign="top">
			<div id="ganttChart" style="width: 100%;"></div>
			<a href="{{ path('Mgate_publi_getgantt', {'id': etude.id}) }}">{{ 'suivi.gantt_exporter'|trans({}, 'suivi') }}</a>
		</td>
	</tr>
</table>

<br />

{% if etude.stateID | default(1) <= 3 %}
	{% include "MgateSuiviBundle:Etude:Infos/warning.html.twig" with  {'etude':  etude} %}
{% endif %}

{% set dernierContact = 0 %}
{% if etude.clientContacts | length %}
<table class="table table-bordered table-striped">
	<tr>
		<th>{{ 'suivi.contact'|trans({}, 'suivi') }}</th>
		<th>{{ 'suivi.type'|trans({}, 'suivi') }}</th>
		<th>{{ 'suivi.date'|trans({}, 'suivi') }}</th>
		<th>{{ 'suivi.fait_par'|trans({}, 'suivi') }}</th>
		<th>{{ 'suivi.objet'|trans({}, 'suivi') }}</th>
		<th>{{ 'suivi.resume'|trans({}, 'suivi') }}</th>
	</tr>
	{% for contact in clientContacts%}
	<tr>
		<td>
			<a href="{{ path('MgateSuivi_clientcontact_voir', {'id': contact.id}) }}">{{ 'suivi.contact'|trans({}, 'suivi') }} n°{{etude.clientContacts | length - loop.index0}}</a>
		</td>
		<td>
		{% set dernierContact = dernierContact | date("U") < contact.date |date("U") ? contact.date : dernierContact %}
		{% if contact.moyenContact == 'telephone'%}
			<span title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="fa fa-headphones"></span>
		{% elseif contact.moyenContact == 'mail'%}
			<span title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}"  class="fa fa-envelope"></span>
		{% else %}
			<span title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}"  class="fa fa-eye-open"></span>
		{% endif %}
		</td>
		<td>
			{{contact.date | date("d/m/Y") }}
		</td>
		<td>
			{{ contact.faitPar.PrenomNom }}
		</td>
		<td>
			{{ contact.objet }}
		</td>
		<td>
			{{ contact.contenu  | nl2br }}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}



{% if etude.stateID | default(1) <= 2 %}
	{% include "MgateSuiviBundle:Etude:Infos/info.html.twig" with  {'etude':  etude} %}
{% endif %}
