<div class="fos_comment_comment_form_holder">
    <form class="fos_comment_comment_edit_form" action="{{ url('fos_comment_put_thread_comments', {'id': comment.thread.id, 'commentId': comment.id}) }}" method="POST">

        {% block fos_comment_form_fields %}
            {{ form_errors(form) }}
            {{ form_errors(form.body) }}
            {{ form_widget(form.body, {'attr': {'style': 'width: 100%', 'rows': 7}}) }}
            {{ form_widget(form._token) }}
        {% endblock %}

        <div class="fos_comment_submit">
            <button type="button" class="btn btn-sm btn-danger fos_comment_comment_edit_cancel">{% trans from 'FOSCommentBundle' %}fos_comment_comment_edit_cancel{% endtrans %}</button>
            {% block fos_comment_form_submit %}
                <input class="btn btn-sm btn-primary" type="submit" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_edit_submit{% endtrans %}" />
            {% endblock %}
        </div>

        <input type="hidden" name="_method" value="PUT">

    </form>
</div>
