{% extends "MgateSuiviBundle::layout.html.twig" %}

{% block title %}
	{{ 'suivi.cc_modifier'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.cc_rediger'|trans({}, 'suivi') }}</h2>

    {% include "MgateSuiviBundle:Cc:formulaire.html.twig" %}


    <p>
        <a href="{{ path('MgateSuivi_etude_voir', {'nom': etude.nom}) }}" >{{ 'suivi.etude_retour'|trans({}, 'suivi') }}</a>
    </p>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "MgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.cc.knownSignataire2, knowned: form.cc.signataire2, newed: form.cc.newSignataire2 }%}
{% endblock %}
