{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	{{ 'suivi.cc_affichage'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.cc'|trans({}, 'suivi') }} n°{{ cc.id }}</h2>

    <i>{{ 'suivi.version'|trans({}, 'suivi') }} {{cc.version}}</i>

    <div>

    </div>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">{{ 'suivi.etudes_list_retour'|trans({}, 'suivi') }}</a>
        <a href="{{ path('mgateSuivi_cc_rediger', {'id': etude.id}) }}">{{ 'suivi.cc_modifier_la'|trans({}, 'suivi') }}</a>

    </p>

{% endblock %}
