{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
    {{ 'treso.comptes_gestion'|trans({}, 'treso') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ compte.numero is null? "Ajout d'un" :  "Modification du" }} {{ 'treso.compte'|trans({}, 'treso') }} {{ compte.numero }} {{ compte.libelle }}
{% endblock %}

{% block content_bundle %}
    <form method="post" {{ form_enctype(form) }}>
        <table class="table table-bordered table-striped standard">
            <tr>
                <th>{{ form_label(form.categorie) }}</th>
                <td>{{ form_widget(form.categorie) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.numero) }}</th>
                <td>{{ form_widget(form.numero) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.libelle) }}</th>
                <td>{{ form_widget(form.libelle) }}</td>
            </tr>
        </table>
        <input type="submit" value="{{ 'treso.enregistrer'|trans({}, 'treso') }}" class="btn btn-default"/>
        {{ form_rest(form) }}
    </form>

    {% if compte.numero is not null and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('mgateTreso_Compte_supprimer', {'id': compte.id}) }}" class="btn btn-danger">
            {{ 'treso.compte_supprimer'|trans({}, 'treso') }}
        </a>
    {% endif %}

{% endblock %}
