{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	{{ 'suivi.suivi_modifier'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ form_javascript(form) }}
{% endblock %}

{% block content_bundle %}


    <h2>{{ 'suivi.suivi_modifier'|trans({}, 'suivi') }}</h2>

    {% include "mgateSuiviBundle:Suivi:formulaire.html.twig" %}


    <p>
        <a href="{{ path('mgateSuivi_clientcontact_voir', {'id': clientcontact.id}) }}" >{{ 'suivi.retour'|trans({}, 'suivi') }}</a>
    </p>

{% endblock %}

