{% extends "mgateSuiviBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    Affichage des domaines de compétences - {{ parent() }}
{% endblock %}

{% block content_title %}
    Affichage des domaines de compétences
{% endblock %}

{% block content_bundle %}
    <form method="post" {{ form_enctype(form) }}>
        <table>
            <tr>
                <td>{{ form_widget(form) }}</td>
                <td><input type="submit" value="Ajouter" class="btn btn-success"/></td>
            </tr>
        </table>
    </form>
    <br>
    <table class="display dataTable table table-bordered table-striped" id="listeDomaines">
        <thead>
        <tr>
            <th>Action</th>
            <th>Domaine</th>
        </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td>
                    <a href="{{ path('mgateSuivi_domaine_delete', { 'id' : domaine.id }) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
                <td>{{ domaine.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeDomaines').DataTable({
                "paging": false,
                "aaSorting": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}