{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	{{ 'suivi.proces_verbal_modifier'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}


{% block content_bundle %}

    <h2>{{ 'suivi.proces_verbal_modifier'|trans({}, 'suivi') }}</h2>

<form method="post" {{ form_enctype(form) }}>

	{{ form_widget(form) }}

	<input type="submit" value="{{ 'suivi.proces_verbal_enregistrer'|trans({}, 'suivi') }}" class="btn btn-success"/>
</form>



    <p>
        <a href="{{ path('mgateSuivi_procesverbal_voir', {'id': procesverbal.id}) }}" >{{ 'suivi.retour'|trans({}, 'suivi') }}</a>
    </p>

    <form class="bootbox-confirm" data-content="{{ 'suivi.proces_verbal_supprimer_confirmation'|trans({}, 'suivi') }}" action="{{ path('mgateSuivi_procesverbal_supprimer', { 'id_pv': form.vars.value.id }) }}" method="post">
    {{ form_widget(delete_form) }}
        <button>{{ 'suivi.proces_verbal_supprimer'|trans({}, 'suivi') }}</button>
    </form>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "mgateSuiviBundle:DocType:selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 }%}
{% endblock %}
