{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
	{{ 'suivi.proces_verbal_afficher'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.proces_verbal'|trans({}, 'suivi') }} {% if procesverbal.type=="pvi" %}{{ 'suivi.intermediaire'|trans({}, 'suivi') }}{%elseif procesverbal.type=="pvr"%}{{ 'suivi.de_recette'|trans({}, 'suivi') }}{%endif%} (id:{{ procesverbal.id }})</h2>

    <i>{{ 'suivi.version'|trans({}, 'suivi') }} {{procesverbal.version}}</i>

    <p>
        <a href="{{ path('mgateSuivi_etude_homepage') }}">{{ 'suivi.etudes_list_retour'|trans({}, 'suivi') }}</a><br />
        <a href="{{ path('mgateSuivi_procesverbal_modifier', {'id_pv': procesverbal.id}) }}">{{ 'suivi.proces_verbal_modifier'|trans({}, 'suivi') }}</a>

    </p>

{% endblock %}
