{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block title %}Modifier une filière - {{ parent() }}{% endblock %}

{% block content_title %}
    Modifier une filière
{% endblock %}

{% block content_bundle %}

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}

    <input type="submit" class="btn"/>
    {{ form_end(form) }}

    <br>

    <form class="bootbox-confirm" data-content="Êtes-vous sûr de vouloir supprimer définitivement cette filière ?"
          action="{{ path('MgatePersonne_filiere_supprimer', { 'id': form.vars.value.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger">Supprimer la filière</button>
    </form>
{% endblock %}


