<br>
<br>
<div class="row">
    <div class="col-md-5 col-xs-12">
        <div class="box box-info box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{ membre.personne.nomformel }}</h3>

            </div>
            <div class="box-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <td colspan="2"><i class="glyphicon glyphicon-phone"></i> {{ membre.personne.mobile }}</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-envelope"></i> <a
                                    href="mailto:{{ membre.personne.email }}">{{ membre.personne.email }}</a>
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-envelope"></i> <a
                                    href="mailto:{{ membre.emailEMSE }}">{{ membre.emailEMSE }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <i class="glyphicon glyphicon-home"></i> : {{ membre.personne.adresse }}<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ membre.personne.codepostal }} {{ membre.personne.ville }} {{ membre.personne.pays }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-book"></i> Promo : {{ membre.promotion }}
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-barcode"></i> Identifiant : {{ membre.identifiant }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="col-md-5 col-md-offset-1 col-xs-12">
        <div class="box box-info box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Informations</h3>

            </div>
            <div class="box-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <td colspan="2">
            <span class="badge badge-{{ membre.personne.estAbonneNewsletter ? "success" : "warning" }}">{{ membre.personne.estAbonneNewsletter ? "Est" : "N'est pas" }}
                abonné à la newsletter</span>
                            <br/><span
                                    class="badge badge-{{ membre.personne.emailEstValide ? "success" : "error" }}">Email {{ membre.personne.emailEstValide ? "valide" : "plus valide" }}</span>
                        </td>
                        <td>
                            <span class="badge badge-{{ membre.dateConventionEleve ? "success" : "error" }}">Convention élève {{ membre.dateConventionEleve ? membre.dateConventionEleve | date('d/m/Y') : "Non signée" }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Né le : {{ membre.dateDeNaissance ? membre.dateDeNaissance | date("d/m/Y") }}</td>
                        <td>Né à : {{ membre.lieuDeNaissance }}</td>
                        <td colspan="2">Nationalité : {{ membre.nationalite }}</td>
                    </tr>
                    <tr>
                        <td>Format Paiement : {{ membre.formatPaiement }}</td>
                        <td>Société Générale : {{ membre.estSocieteGenerale }}</td>
                        <td>Filière : {{ membre.filiere }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

{% set i = 0 %}
<div class="row">
    {% if membre.competences|length > 0 %}
        {%  set i = i+1 %}
        <div class="col-md-5 col-xs-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Compétences</h3>

                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        {% for c in membre.competences %}
                            <a href="{{ path('n7consultingRh_competence_voir', {'id': c.id}) }}"><span class="badge badge-default">{{ c.nom }}</span></a>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}




    {% if membre.missions|length > 0 %}
        {%  set i = i+1 %}
        <div class="col-md-5 col-xs-12 {% if i is even %}col-md-offset-1{% endif %}">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Missions réalisées</h3>

                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        {% for mission in membre.missions %}
                            <tr class="mandats">
                                <td><a href="{{ path("mgateSuivi_etude_voir", {'numero' : mission.etude.numero}) }}"
                                       title="{{ mission.etude.nom }}">{{ mission.etude.reference }}</a></td>
                                <td>Du : {{ mission.debutOm ? mission.debutOm  | date("d/m/Y") : "?" }}</td>
                                <td>Au : {{ mission.finOm ? mission.finOm | date("d/m/Y") : "?" }}</td>
                                <td>
                                    <span class="badge badge-{{ "now"|date('Ymd')  > mission.etude.dateFin |date('Ymd') ? 'default' : 'success' }}">
                    {{ "now"|date('Ymd')  > mission.etude.dateFin |date('Ymd') ? 'Passée' : 'En cours' }}
                </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}


    {% if membre.mandats|length > 0 %}
        {%  set i = i+1 %}
        <div class="col-md-5 col-xs-12 {% if i is even %}col-md-offset-1{% endif %}">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Postes occupés</h3>

                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        {% for mandat in membre.mandats %}
                            <tr class="mandats">
                                <td colspan="2">{{ mandat.poste.intitule }}</td>
                                <td>Du : {{ mandat.debutMandat | date("d/m/Y") }}</td>
                                <td>Au : {{ mandat.finMandat | date("d/m/Y") }}</td>
                                <td>
                                    <span class="badge badge-{{ "now"|date('Ymd')  > mandat.finMandat |date('Ymd') ? 'default' : 'success' }}">
                                        {{ "now"|date('Ymd')  > mandat.finMandat |date('Ymd') ? 'Alumni' : 'En cours' }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% if membre.personne.user is not null %}
        {%  set i = i+1 %}
        <div class="col-md-5 col-xs-12 {% if i is even %}col-md-offset-1{% endif %}">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Permissions</h3>

                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td>
                                {% for role in membre.personne.user.RolesNames %}
                                    <span class="badge badge-default">
                                        {{ role }}
                                    </span>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

</div>
