{% extends "mgateFormationBundle::layout.html.twig" %}


{% block content_title %}
    {{ 'formation.formations'|trans({}, 'formation') }} N7C
{% endblock %}

{% block content_bundle %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{ 'formation.documents'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.categories'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.date'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.titre'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.description'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.formateurs'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.duree'|trans({}, 'formation') }}</th>
        </tr>
        {% for mandat, formations in formationsParMandat %}
            <tr>
                <th colspan="7">{{ 'formation.mandat'|trans({}, 'formation') }} {{ mandat }}</th>
            </tr>
            {% for formation in formations | reverse %}
                <tr>
                    <td>{% if formation.docPath %}<a href="{{ formation.docPath }}"><i
                                    class="fa fa-arrow-circle-down"></i></a>{% endif %}</td>
                    <td style="min-width: 300px;">{% for cat in formation.categorie %}{{ formation.categoriesChoiceToString[cat] }}
                            <br/> {% endfor %}</td>
                    <td>{{ formation.dateDebut | date("d/m/Y") }}</td>
                    <td>
                        <a href="{{ path('mgate_formation_voir', {'id': formation.id}) }}">{{ formation.titre | title }}</a>
                    </td>
                    <td>{{ formation.description | nl2br }}</td>
                    <td>{% for personne in formation.formateurs %} {{ personne.prenomNom }};{% endfor %}</td>
                    <td>{{ (formation.dateFin | date("U") - formation.dateDebut | date("U")) / 60 }} {{ 'formation.minutes'|trans({}, 'formation') }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
