{% set valide    = asset('img/succes.png') %}
{% set nonValide = asset('img/cross.png') %}
{% set enCours   = asset('img/progress.png') %}

<table class="table table-striped" id="myTable">
    <thead>
    <tr>
        <th>
            <div>{{ 'suivi.etude_nom'|trans({}, 'suivi') }}</div>
            <!--<div>{{ 'suivi.reference'|trans({}, 'suivi') }}</div>-->
        </th>
        <th>
            <div>{{ 'suivi.date_lancement'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.date_fin'|trans({}, 'suivi') }}</div>
        </th>
        <th>
            <div>{{ 'suivi.client'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.suiveur'|trans({}, 'suivi') }}</div>
        </th>

        <th>
            {{ 'suivi.etat'|trans({}, 'suivi') }}
        </th>
        <th>
            {{ 'suivi.a_recontacter_le'|trans({}, 'suivi') }}
        </th>
        <th>
            <div>{{ 'suivi.prix_ht'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.jeh_nombre'|trans({}, 'suivi') }}</div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for etude in etudesEnPause if not confidentielRefus(etude, app.user, is_granted(role_voir_confidentiel)) %}
        <tr>
            <td>
                <div>
                    <a href="{{ path('MgateSuivi_etude_voir', {'nom': etude.nom}) }}">{{ etude.nom }}</a>
                    <!-- {{ etude.reference }} -->
                </div>
                <div>{{ etude.confidentiel ? '<span class="label label-danger">[CONFIDENTIEL]</span> ' }}</div>
            </td>
            <td>
                {% if etude.dateLancement != NULL %}
                    <div>{{ etude.dateLancement|date("d/m/Y") }}</div>{% endif %}
                <br/>
                {% if etude.dateFin != NULL %}
                    <div>{{ etude.dateFin|date("d/m/Y") }}</div>{% endif %}
            </td>
            <td>
                {% include "MgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
                <br/><br/>
                {% include "MgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}
            </td>

            <td>
                {{ etude.stateDescription }}
            </td>
            <td>
            </td>
            <td>
                <div>{{ etude.confidentiel ? '*' : etude.montantHT |default('') }} €</div>
                <div>{{ etude.confidentiel ? '*' : etude.nbrJEH |default('') }} {{ 'suivi.jeh'|trans({}, 'suivi') }}</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

