{% set valide    = asset('img/succes.png') %}
{% set nonValide = asset('img/cross.png') %}
{% set enCours   = asset('img/progress.png') %}

<table class="table table-striped" id="myTable">
      <thead>
          <tr>
              <th>
                  <div>{{ 'suivi.etude_nom'|trans({}, 'suivi') }}</div>
              </th>
              <th>
                  <div>{{ 'suivi.date_lancement'|trans({}, 'suivi') }}</div>
                  <div>{{ 'suivi.date_fin'|trans({}, 'suivi') }}</div>
              </th>
              <th>
                  <div>{{ 'suivi.client'|trans({}, 'suivi') }}</div>
                  <div>{{ 'suivi.suiveur'|trans({}, 'suivi') }}</div>
              </th>
              <th>
                  {{ 'suivi.etat'|trans({}, 'suivi') }}
              </th>
              <th>
                   {{ 'suivi.contacts_client'|trans({}, 'suivi') }}
              </th>
              <th>
                  {{ 'suivi.dernier_contact'|trans({}, 'suivi') }}
              </th>
              <th>
                  {{ 'suivi.ap'|trans({}, 'suivi') }}
              </th>
              <th>
                  {{ 'suivi.cc'|trans({}, 'suivi') }}
              </th>
              <th>
                   <div>{{ 'suivi.prix_ht'|trans({}, 'suivi') }}</div>
                   <div>{{ 'suivi.jeh_nombre'|trans({}, 'suivi') }}</div>
              </th>
            </tr>
 	 </thead>
 	 <tbody>


        {% for etude in etudesEnNegociation if not confidentielRefus(etude, app.user, is_granted('ROLE_CA'))%}
    <tr>
        <td><div>
                <a href="{{ path('MgateSuivi_etude_voir', {'nom': etude.nom}) }}">{{ etude.nom }}</a>
                <!-- {{ etude.reference }} -->
            </div>
            <div>{{ etude.confidentiel ? '<span class="label label-danger">[CONFIDENTIEL]</span> ' }}</div>
        </td>
        <td>
            {% if etude.dateLancement != NULL %}<div>{{ etude.dateLancement|date("d/m/Y") }}</div>{% endif %}
            <br/>
            {% if etude.dateFin != NULL %}<div>{{ etude.dateFin|date("d/m/Y") }}</div>{% endif %}
        </td>
        <td>
            {% include "MgateSuiviBundle:Etude:Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}
            <br /><br />
            {% include "MgateSuiviBundle:Etude:Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}
        </td>
            <td>
                {{etude.stateDescription }}
            </td>
            <td>
            {% set dernierContact = 0 %}
            {% for contact in etude.clientContacts%}
                    {% set dernierContact = dernierContact | date("U") < contact.date |date("U") ? contact.date : dernierContact %}
                    <a href="{{ path('MgateSuivi_clientcontact_voir', {'id' : contact.id }) }}">
                    {% if contact.moyenContact == 'telephone'%}
                        <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="fa fa-headphones"></i>
                    {% elseif contact.moyenContact == 'mail'%}
                        <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="fa fa-envelope"></i>
                    {% else %}
                        <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom}}" class="fa fa-eye-open"></i>
                    {% endif %}
                    </a>
            {% endfor %}
            </td>
            <td>
                {% set dCU = dernierContact | date("U") %}
                <span class="label label-{{ (dernierContact | date("dmy")) == ("now" | date("dmy")) ? "info" : (dCU > "now"|date("U") ? "important" : ( dCU > "now" |date_modify("-5 day")|date("U") ? "success" : (dCU > "now" |date_modify("-10 day")|date("U") ? "warning" : "important"))) }}">
                    {{ dernierContact | date("d/m/Y") == "01/01/1970" ? "Jamais" : dernierContact | date("d/m/Y") }}
                </span>
            </td>
            <td>
            {% if getEtatDoc(etude.ap) == 1 %}
                    <img src="{{ enCours }}" />
            {% elseif getEtatDoc(etude.ap) == 2 %}
                    <img src="{{ valide }}" />
            {% else %}
                    <img src="{{ nonValide }}" />
            {% endif %}
                </td>
                <td>
            {% if getEtatDoc(etude.cc) == 1 %}
                    <img src="{{ enCours }}" />
            {% elseif getEtatDoc(etude.cc) == 2 %}
                    <img src="{{ valide }}" />
            {% else %}
                    <img src="{{ nonValide }}" />
            {% endif %}
                </td>
                <td>
                    <div>{{ etude.confidentiel ? '*' : etude.montantHT |default('') }} €</div>
                    <div>{{ etude.confidentiel ? '*' : etude.nbrJEH |default('') }} {{ 'suivi.jeh'|trans({}, 'suivi') }}</div>
                </td>
            </tr>
        {% endfor %}
 	 </tbody>
  </table>

