<table class="table table-striped" id="myTable">
    <thead>
    <tr>
        <th>
            {{ 'suivi.status'|trans({}, 'suivi') }}
        </th>
        <th>
            <div>{{ 'suivi.etude_nom'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.reference'|trans({}, 'suivi') }}</div>
        </th>
        <th>
            <div>{{ 'suivi.client'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.suiveur'|trans({}, 'suivi') }}</div>
        </th>
        <th>
            <div>{{ 'suivi.date_lancement'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.date_fin'|trans({}, 'suivi') }}</div>
        </th>
        <th>
            {{ 'suivi.archivee'|trans({}, 'suivi') }}
        </th>
        <th>
            {{ 'suivi.auditee'|trans({}, 'suivi') }}
        </th>
        <th>
            {{ 'suivi.developpeurs'|trans({}, 'suivi') }}
        </th>
        <th>
            <div>{{ 'suivi.prix_ht'|trans({}, 'suivi') }}</div>
            <div>{{ 'suivi.jeh_nombre'|trans({}, 'suivi') }}</div>
        </th>
    </tr>
    </thead>
    <tbody>

    {% for etude in etudes if not confidentielRefus(etude, app.user, is_granted(role_voir_confidentiel)) %}
        <tr>
            <td><i id="commentaire" class="fa fa-search" data-title="{{ etude.id }}" data-content="0"></i></td>
            <td>
                <div>{{ etude.confidentiel ? '<span class="label label-danger">[CONFIDENTIEL]</span> ' }}<a
                            href="{{ path('MgateSuivi_etude_voir', {'nom': etude.nom}) }}">{{ etude.reference }}</a>
                </div>
            </td>
            <td>{{ etude.prospect.nom }}
                <br/><br/>
                {{ etude.suiveur.prenomNom| default("Pas de suiveur!") }}</td>
            <td>
                {% if etude.dateLancement != NULL %}
                    <div>{{ etude.dateLancement|date("d/m/Y") }}</div>{% endif %}
                {% if etude.dateFin != NULL %}
                    <div>{{ etude.dateFin|date("d/m/Y") }}</div>{% endif %}
            </td>
            <td>#
            </td>
            <td>
                #
            </td>
            <td>
                <ul>
                    {% for mission in etude.missions %}
                        <li>  {{ mission.intervenant.personne.prenomNom | default("Intervenant non choisi") }} {{ mission.intervenant.nom | default("") }}</li>

                    {% endfor %}
                </ul>
            </td>
            <td>
                <div>{{ etude.confidentiel ? '*' : etude.montantHT |default('') }} €</div>
                <div>{{ etude.confidentiel ? '*' : etude.nbrJEH |default('') }} {{ 'suivi.jeh'|trans({}, 'suivi') }}</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
