<div class="panel-group" id="accordion{{key}}">
    {% for mandat in etudesParMandat |reverse %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{key}}" href="#collapse{{key}}{{loop.index}}" data-mandat="{{  mandatMax - loop.index0 }}" data-stateID="{{key +3}}" data-loaded="false">
                    Mandat {{ mandatMax - loop.index0 }}
                </a>
            </div>
            <div id="collapse{{key}}{{loop.index}}" class="panel-collapse collapse">
                <div class="panel-body mandat{{ mandatMax - loop.index0 }} stateID{{3+key}}">
                </div>
            </div>
        </div>
        {% if loop.last %}
            </div>

            <p>Rien entre {{ mandatMax - loop.index0 }} et {{ anneeCreation }}.</p>
        {% endif %}
    {% endfor%}

