<style>
.dropdown-menu > li > ul{
    padding: 3px 20px;
    margin: 0 !important;
    text-align: right !important;
    min-width: 300px;
}
</style>
<form action="{{ path('Mgate_dashboard_search') }}" method="GET" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.rechercher'|trans({}, 'dashboard') }}">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
    </div>
</form>
<!-- sidebar menu start-->
<ul class="sidebar-menu" id="nav-accordion">

<!-- GESTION ASSOCIATIVE -->
    {% if is_granted('ROLE_SUIVEUR') %}

    <li>
        <a href="#" ><span class="nav-label">{{ 'dashboard.gestion_associative'|trans({}, 'dashboard') }}</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li class="dropdown-header">{{ 'dashboard.membres'|trans({}, 'dashboard') }}</li>
            <li><a href="{{ path('MgatePersonne_membre_homepage') }}"><span class="fa fa-list"></span> {{ 'dashboard.membres_lister'|trans({}, 'dashboard') }}</a></li>
            <li><a href="{{ path('MgatePersonne_intervenants_homepage') }}"><span class="fa fa-usd"></span> {{ 'dashboard.intervenants_lister'|trans({}, 'dashboard') }}</a></li>
            <li><a href="{{ path('MgatePersonne_membre_impayes') }}"><span class="fa fa-euro"></span> {{ 'dashboard.impayes_lister'|trans({}, 'dashboard') }}</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('MgatePersonne_membre_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.membre_ajouter'|trans({}, 'dashboard') }}</a></li>
        </ul>
    </li>
    {% endif %}


    {% if is_granted('ROLE_SUIVEUR') %}
    <!-- SUIVI D'ETUDES-->
    <li>
        <a href="#" ><span class="nav-label">{{ 'dashboard.suivi_etudes'|trans({}, 'dashboard') }} </span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('MgateSuivi_etude_homepage') }}"><span class="fa fa-list"></span> {{ 'dashboard.etudes_voir'|trans({}, 'dashboard') }}</a></li>
            <li><a href="{{ path('MgateSuivi_etude_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.etude_creer'|trans({}, 'dashboard') }}</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Qualité</li>
            <li><a href="{{ path('MgateSuivi_etude_suiviQualite') }}"><span class="fa fa-exclamation-triangle"></span> {{ 'dashboard.problemes_suivi'|trans({}, 'dashboard') }}</a></li>
            {% if is_granted('ROLE_CA') %}
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'dashboard.administration'|trans({}, 'dashboard') }}</li>
            <li><a href="{{ path('MgateSuivi_clientcontact_index') }}"><span class="fa fa-envelope"></span> {{ 'dashboard.contacts_clients'|trans({}, 'dashboard') }}</a></li>
            <li><a href="{{ path('MgateSuivi_vu_ca') }}"><span class="fa fa-eye"></span> {{ 'dashboard.vu_ca'|trans({}, 'dashboard') }}</a></li>
            <!--li><a href="{#{ path('MgateSuivi_etude_suivi') }#}"><span class="fa fa-tasks"></span> Récapitulatif</a></li-->
            {% endif %}
        </ul>
    </li>
    {% endif %}

    <!-- DEVELOPPEMENT COMMERCIAL -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li>
            <a href="#" ><span class="nav-label">{{ 'dashboard.prospection'|trans({}, 'dashboard') }} </span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li class="dropdown-header">{{ 'dashboard.prospect_client'|trans({}, 'dashboard') }}</li>
                <li><a href="{{ path('MgatePersonne_prospect_homepage') }}"><span class="fa fa-list"></span> {{ 'dashboard.prospects_voir'|trans({}, 'dashboard') }}</a></li>
                <li><a href="{{ path('MgatePersonne_prospect_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.prospect_ajouter'|trans({}, 'dashboard') }}</a></li>
                {% if is_granted('ROLE_CA') %}
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ 'dashboard.annuaire'|trans({}, 'dashboard') }}</li>
                    <li><a href="{{ path('MgatePersonne_annuaire') }}"><span class="fa fa-book"></span> {{ 'dashboard.annuaire_global'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgatePersonne_listeDiffusion') }}"><span class="fa fa-envelope"></span> {{ 'dashboard.liste_diffusion'|trans({}, 'dashboard') }}</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    <!-- RESSOURCES HUMAINES -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li><a href="{{ path('N7consultingRh_competence_homepage') }}"><span class="nav-label">{{ 'dashboard.rh_competences'|trans({}, 'dashboard') }}</span></a></li>
    {% endif %}


    <!-- TRESORERIE-->
    {% if is_granted('ROLE_TRESO') %}
    <li>
        <a href="#"> <span class="nav-label">{{ 'dashboard.tresorerie'|trans({}, 'dashboard') }} </span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li class="dropdown-header">{{ 'dashboard.saisie_informations'|trans({}, 'dashboard') }}</li>
            <li>
                <a href="#" >{{ 'dashboard.factures'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('MgateTreso_Facture_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.lister'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgateTreso_Facture_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.ajouter'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>
            <li>
                <a href="#" >{{ 'dashboard.bvs'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('MgateTreso_BV_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.lister'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgateTreso_BV_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.ajouter'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>
            <li>
                <a href="#" >{{ 'dashboard.nfs'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('MgateTreso_NoteDeFrais_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.lister'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgateTreso_NoteDeFrais_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.ajouter'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'dashboard.tableaux_suivi'|trans({}, 'dashboard') }}</li>
            <li><a href="{{ path('MgateTreso_Declaratif_TVA') }}"><span class="fa fa-barcode"></span> {{ 'dashboard.declaratif_tva'|trans({}, 'dashboard') }}</a></li>
            <li><a href="{{ path('MgateTreso_Declaratif_BRC') }}"><span class="fa fa-qrcode"></span> {{ 'dashboard.bordereau_cotisations'|trans({}, 'dashboard') }} </a></li>
            <li><a href="{{ path('Mgate_treso_urssaf', {'year': "now"|date('Y'), 'month': "now"|date('m')}) }}"><span class="fa fa-group"></span> {{ 'dashboard.intervenants'|trans({}, 'dashboard') }} </a></li>
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'dashboard.administration'|trans({}, 'dashboard') }}</li>
            <li>
                <a href="#" >{{ 'dashboard.comptes'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('MgateTreso_Compte_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.lister'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgateTreso_Compte_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.ajouter'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>
            <li>
                <a href="#" >{{ 'dashboard.Base_urssaf'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('MgateTreso_BaseURSSAF_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.lister'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgateTreso_BaseURSSAF_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.ajouter'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>
            <li>
                <a href="#" >{{ 'dashboard.cotisations'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('MgateTreso_CotisationURSSAF_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.lister'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('MgateTreso_CotisationURSSAF_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.ajouter'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>

        </ul>
    </li>
    {% endif %}




    <!-- RECRUTEMENT FORMATIONS PASSATION -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li>
            <a href="#"><span class="nav-label">{{ 'dashboard.formations'|trans({}, 'dashboard') }} </span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li class="dropdown-header">{{ 'dashboard.formations'|trans({}, 'dashboard') }}</li>
                <li><a href="{{ path('Mgate_formations_lister') }}"><span class="fa fa-book"></span> {{ 'dashboard.formations_voir'|trans({}, 'dashboard') }}</a></li>
                {% if is_granted('ROLE_CA') %}
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ 'dashboard.administration'|trans({}, 'dashboard') }}</li>
                    <li><a href="{{ path('Mgate_formations_index_admin') }}"><span class="fa fa-list"></span> {{ 'dashboard.formations_gerer'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('Mgate_formation_ajouter') }}"><span class="fa fa-plus"></span> {{ 'dashboard.formation_ajouter'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('Mgate_formation_participation') }}"><span class="fa fa-tasks"></span> {{ 'dashboard.particpants_voir'|trans({}, 'dashboard') }}</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    <!-- PILOTAGE DE LA J.E. -->
    {% if is_granted('ROLE_CA') %}
    <li class="">
        <a href="#" ><span class="nav-label">{{ 'dashboard.pilotage_je'|trans({}, 'dashboard') }}</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('Mgate_indicateurs_index') }}"><span class="fa fa-globe"></span> {{ 'dashboard.indicateur'|trans({}, 'dashboard') }}</a></li>
        </ul>
    </li>
    {% endif %}

    <!-- ADMINISTRATION DU SITE -->
    {% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="#" ><span class="nav-label">{{ 'dashboard.administration'|trans({}, 'dashboard') }}</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li>
                <a href="#" >{{ 'dashboard.documents'|trans({}, 'dashboard') }} <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('Mgate_publi_documenttype_index') }}"><span class="fa fa-file"></span> {{ 'dashboard.documents_gestion'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('Mgate_publi_documenttype_upload') }}"><span class="fa fa-floppy-o"></span> {{ 'dashboard.doctype_ajouter'|trans({}, 'dashboard') }}</a></li>
                    <li><a href="{{ path('Mgate_publi_import') }}"><span class="fa fa-upload"></span> {{ 'dashboard.donnes_externes_importer'|trans({}, 'dashboard') }}</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'dashboard.postes'|trans({}, 'dashboard') }}</li>
            <li><a href="{{ path('MgatePersonne_poste_homepage') }}"><span class="fa fa-list"></span> {{ 'dashboard.postes_filieres'|trans({}, 'dashboard') }}</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'dashboard.compte_utilisateur'|trans({}, 'dashboard') }}:</li>
            <li><a href="{{ path('Mgate_user_lister') }}"><span class="fa fa-pencil"></span> {{ 'dashboard.lister_modifier'|trans({}, 'dashboard') }}</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">{{ 'dashboard.autres'|trans({}, 'dashboard') }}</li>
            <li><a href="{{ path('MgateSuivi_domaine_index') }}"><span class="fa fa-list"></span> {{ 'dashboard.domaine_competences'|trans({}, 'dashboard') }}</a></li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('Mgate_dashboard_homepage') }}over">{{ 'dashboard.administration_bdd'|trans({}, 'dashboard') }}</a></li>
            {% endif %}

        </ul>
    </li>
    {% endif %}
</ul>
