{% extends "MgatePubliBundle::layout.html.twig" %}

{% block title %}
    Liste des Documents - {{ parent() }}
{% endblock %}

{% block content_title %}
    Liste des Documents
{% endblock %}

{% block content_bundle %}


    <h4>Espace utilisé :</h4>
    {% set actualSize = (100 * totalSize / authorizedStorageSize) | round(2) %}
    <div class="row">
        <div class="col-md-10 col-xs-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ actualSize }}%;">
                    {{ actualSize }}%
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-2">
            <a href="{{ path('Mgate_publi_documenttype_upload') }}" class="pull-right btn btn-info">{{ 'dashboard.doctype_ajouter'|trans({}, 'dashboard') }}</a>
        </div>
    </div>
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Date d'upload</th>
            <th>Mis en ligne par</th>
            <th>Titre</th>
            <th>Taille</th>
            <th>Action</th>
        </tr>
        {% for doc in docs | reverse %}
            <tr>
                <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s') }}</td>
                <td>{{ doc.author ? doc.author.prenomNom }}</td>
                <td>
                    <a href="{{ path('Mgate_publi_document_voir', {'id': doc.id}) }}">{{ doc.name }}</a>
                </td>
                <td>{{ (doc.size / 1024) | number_format(2, ',', ' ') }} Ko</td>
                <td><a href="{{ path('Mgate_publi_document_delete', {'id' : doc.id }) }}"><i
                                class="fa fa-times"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
