{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
    {{ 'treso.note_frais_gestion'|trans({}, 'treso') }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block content_title %}
    {{ 'treso.note_frais_gestion'|trans({}, 'treso') }}
{% endblock %}

{% block content_bundle %}
    <a href="{{ path('mgateTreso_NoteDeFrais_ajouter') }}" class="btn btn-success">{{ 'treso.note_frais_ajouter'|trans({}, 'treso') }}</a>
    <table class="table table-bordered table-striped dt-responsive" id="listeNotes">
        <thead>
        <tr>
            <th>{{ 'treso.date'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.reference'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.demandeur'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.objet'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.montant_ht'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.montant_tva'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.montant_ttc'|trans({}, 'treso') }}</th>
        </tr>
        </thead>
        {% for nf in nfs %}
            <tr>
                <td>{{ nf.date | date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('mgateTreso_NoteDeFrais_voir', {'id': nf.id}) }}">{{ nf.mandat }}
                        -NF{{ "%2d" | format(nf.numero) }}-{{ nf.demandeur.membre.identifiant }}</a>
                </td>
                <td>{{ nf.demandeur.prenomNom }}</td>
                <td>{{ nf.objet | nl2br }}</td>
                <td style="text-align: right;">{{ nf.montantHT |number_format(2, ',', ' ') }} €</td>
                <td style="text-align: right;">{{ nf.montantTVA |number_format(2, ',', ' ') }} €</td>
                <td style="text-align: right;">{{ (nf.montantHT + nf.montantTVA) |number_format(2, ',', ' ') }} €</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block javascript %}
    {{ parent() }}
<script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#listeNotes').DataTable({
            "paging": false,
            "aaSorting": [[1, 'desc']],
        });
    });
</script>
{% endblock %}

