<h3>Liste des employés</h3>

<table class="table table-bordered table-striped dt-responsive" id="employes">
    <thead>
        <tr>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Fixe</th>
            <th>Mobile</th>
            <th>Poste</th>
            <th>Adresse/Bureau</th>
        </tr>
    </thead>
    <tbody>
        {% for employe in prospect.employes %}
            <tr>
                <td><h4>
                        <a href="{{ path('mgatePersonne_employe_modifier', {'id': employe.id}) }}">{{ employe.personne.nom | title }} {{ employe.personne.prenom }}</a>
                    </h4></td>
                <td title="{{ employe.personne.emailEstValide ? (employe.personne.estAbonneNewsletter ? "Est Abonné à la Newsletter" : "N'est pas abonné à la newsletter") : "l'Email n'est plus valide" }}"
                    class="{{ employe.personne.emailEstValide ? (employe.personne.estAbonneNewsletter ? "success" : "warning") : "error" }}">{{ employe.personne.email }}</td>
                <td>{{ employe.personne.fix }}</td>
                <td>{{ employe.personne.mobile }}</td>
                <td><h5>{{ employe.poste }}</h5></td>
                <td>{{ employe.personne.adresse }}<br/>
                    {{ employe.personne.codePostal }} {{ employe.personne.ville }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col-md-4 col-xs-6">
        <a href="{{ path('mgatePersonne_employe_ajouter', {'prospect_id': prospect.id}) }}" class="btn btn-success">
            <i class="fa fa-user"></i> Ajouter un employé
        </a>
    </div>
    <div class="col-md-4 col-xs-6">
        <a href="{{ path('mgatePersonne_prospect_modifier', {'id': prospect.id}) }}" class="btn btn-warning">
            <i class="fa fa-pencil"></i> Modifier le prospect
        </a>
    </div>
    <div class="col-md-4 col-xs-6">
        <a href="{{ path('mgatePersonne_prospect_homepage') }}" class="btn btn-primary">
           <i class="fa fa-th-list"></i> Retour à la liste des Prospect
        </a>
    </div>

</div>