<h3>Etudes</h3>

<table class="table table-bordered table-striped dt-responsive" id="etudes">
    <thead>
    <tr>
        <th>Date d'ajout</th>
        <th>Nom</th>
        <th>Statut</th>
        <th>Sujet</th>
        <th>Montant HT (€)</th>
        <th>JEHs</th>
    </tr>
    </thead>
    <tbody>
    {% for etude in etudes %}
        <tr>
            <td>
                {{ etude.dateCreation|date("d/m/Y") }}
            </td>
            <td><a href="{{ path('mgateSuivi_etude_voir', {'nom': etude.nom}) }}">{{ etude.nom }}</a></td>
            <td>
                {{ (etude.stateID == 4 ? "Terminée" : (etude.stateID == 5 ? "Avortée" : (etude.stateID == 3 ? "En Pause" : (etude.stateID == 2 ? "En Cours" : "En négociation")))) }}
            </td>
            <td>{{ etude.description }}</td>
            <td>{{ etude.montantHT | default('0') }}</td>
            <td>{{ etude.NbrJEH | default('0') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>