{% extends "mgateTresoBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    {{ 'treso.cotisations_urssaf_gestion'|trans({}, 'treso') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}
    <a href="{{ path('mgateTreso_CotisationURSSAF_ajouter') }}" class="btn btn-success">{{ 'treso.cotisations_urssaf_ajouter'|trans({}, 'treso') }}</a>
    <table class="display dataTable table table-bordered table-striped dt-responsive" id="listeCotisations">
        <thead>
        <tr>
            <th>{{ 'treso.action'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.applicable_du'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.applicable_au'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.libelle'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.taux_part_junior'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.taux_part_etudiant'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.applicable_base'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.est_deductible'|trans({}, 'treso') }}</th>
        </tr>
        </thead>
        {% for cotisation in cotisations %}
            <tr style="text-align: right;" class="{{ cotisation.dateFin < date() ? 'danger' : 'success' }}">
                <td><a href="{{ path('mgateTreso_CotisationURSSAF_modifier', {'id' : cotisation.id }) }}"
                       title="{{ 'treso.modifier'|trans({}, 'treso') }}"><span class="fa fa-pencil"></span></a></td>
                <td>{{ cotisation.dateDebut | date('d/m/Y') }}</td>
                <td>{{ cotisation.dateFin | date('d/m/Y') }}</td>
                <td>{{ cotisation.libelle }}</td>
                <td>{{ (cotisation.tauxPartJE * 100) | money(false) }}</td>
                <td>{{ (cotisation.tauxPartEtu * 100) | money(false) }}</td>
                <td>
                    <span class="label label-{{ cotisation.isSurBaseURSSAF ? 'success' : 'warning' }}">{{ 'treso.base'|trans({}, 'treso') }} {{ cotisation.isSurBaseURSSAF ? "URSSAF" : "Brut" }}</span>
                </td>
                <td>
                    <span class="label label-{{ cotisation.deductible ? 'success' : 'danger' }}">{{ cotisation.deductible ? "" : "Non" }}
                        {{ 'treso.deductible'|trans({}, 'treso') }}</span></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block javascript %}
    {{ parent() }}
<script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#listeCotisations').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "iDisplayLength": 50,
            "aaSorting": [[1, 'desc']]
        });
    });
</script>

{% endblock %}