{% extends "mgateFormationBundle::layout.html.twig" %}

{% block content_title %}
    {{ 'formation.formations'|trans({}, 'formation') }} - {{ 'formation.espace_admin'|trans({}, 'formation') }}
{% endblock %}

{% block content_bundle %}
<table class="table table-bordered table-striped">
    <tr>
        <th>{{ 'formation.documents'|trans({}, 'formation') }}</th>
        <th>{{ 'formation.date'|trans({}, 'formation') }}</th>
        <th>{{ 'formation.titre'|trans({}, 'formation') }}</th>
        <th>{{ 'formation.description'|trans({}, 'formation') }}</th>
        <th>{{ 'formation.formateurs'|trans({}, 'formation') }}</th>
        <th>{{ 'formation.duree'|trans({}, 'formation') }}</th>
        <th>{{ 'formation.personnes_presentes'|trans({}, 'formation') }}</th>
    </tr>
    {% for formation in formations %}
    <tr>
        <td><i class="fa fa-arrow-circle-down"></i></td>
        <td>{{ formation.dateDebut | date("d/m/Y") }}</td>
        <td><a title="{{ 'formation.modifier'|trans({}, 'formation') }}" href="{{ path('mgate_formation_modifier', {'id': formation.id})}}">{{ formation.titre | title }}</a></td>
        <td>{{ formation.description }}</td>
        <td>{%for membre in formation.formateurs %} {{membre.prenomNom}};{%endfor%}</td>
        <td>{% set date =  ((formation.dateFin | date("U")) - (formation.dateDebut | date("U"))) / 60 %}{{ date }} {{ 'formation.minutes'|trans({}, 'formation') }}</td>
        <td>
            <span title="{%for membre in formation.membresPresents %} {{membre.prenomNom}} -{%endfor%}">
            {{ formation.membresPresents |length }} {{ 'formation.membres'|trans({}, 'formation') }}</span>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
