{% extends "mgateFormationBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    Présence aux formations - {{ parent() }}
{% endblock %}

{% block content_title %}
    Présence aux formations
{% endblock %}

{% block content_bundle %}

    <form method="post" {{ form_enctype(form) }}>
        {{ form_label(form.mandat) }} {{ form_widget(form.mandat) }}
        {{ form_widget(form) }}
        <input type="submit" value="Chercher" class="btn"/>
    </form>

    <table class="dataTable table table-bordered table-striped" id="presence">
        <thead>
        <tr>
            <th>Présents</th>
            {% for formation in formations %}
                <th>{{ formation.titre }}</th>
            {% endfor %}
            <th>Taux</th>
        </tr>
        </thead>
        <tbody>
        {% for nom, present in presents %}
            <tr style="text-align: center">
                <td>{{ nom }}</td>
                {% for formation in formations %}
                    <td>
                        {% if formation.id in present %}
                            <span class="label label-success"><span class="fa fa-check"> 1</span></span>
                        {% else %}
                            <span class="label label-danger"><span class="fa fa-times">  0</span></span>
                        {% endif %}
                    </td>
                {% endfor %}
                <td>{{ present | length }} / {{ formations | length }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#presence').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "aaSorting": [[0, 'asc']]
            });
        });
    </script>
{% endblock %}