{% extends "mgateTresoBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    Gestion des BV - {{ parent() }}
{% endblock %}

{% block content_title %}
    Liste des BV
{% endblock %}

{% block content_bundle %}
    <button type="button" class="btn btn-success" onclick="location.href='{{ path('mgateTreso_BV_ajouter') }}';">Ajouter
        un BV
    </button>
    <br>
    <table class="display dataTable table table-bordered table-striped dt-responsive" id="listeBV">
        <thead>
        <tr>
            <th>Référence</th>
            <th>Date de Versement</th>
            <th>Bénéficiaire</th>
            <th>Mission</th>
            <th>Rémunération Brute</th>
            <th>Part Junior</th>
            <th>Part Etudiant</th>
        </tr>
        </thead>
        <tbody>
        {% for bv in bvs %}
            <tr>
                <td><a href="{{ path('mgateTreso_BV_voir', {'id' : bv.id }) }}">{{ bv.reference }}</a></td>
                <td>{{ bv.dateDeVersement | date('d/m/Y') }}</td>
                <td>{{ bv.mission.intervenant.personne.prenomNom }}</td>
                <td>{{ bv.mission.reference }}</td>
                <td style="text-align: right;">{{ (bv.nombreJEH * bv.remunerationBruteParJEH) | number_format(2, ',', ' ') }}
                    €
                </td>
                <td style="text-align: right;">{{ bv.partJunior | number_format(2, ',', ' ') }} €</td>
                <td style="text-align: right;">{{ bv.partEtudiant | number_format(2, ',', ' ') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeBV').DataTable({
                "bPaginate": true,
                "iDisplayLength": 50,
                "aaSorting": [[0, 'desc']],
            });
        });
    </script>
{% endblock %}
