{% extends "mgateTresoBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .money {
            text-align: right;
        }
    </style>
{% endblock %}

{% block title %}
    {{ 'treso.bv_gestion'|trans({}, 'treso') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'treso.bv'|trans({}, 'treso') }} {{ bv.reference }} &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp; {{ bv.dateDemission | date('d/m/Y') }}
{% endblock %}

{% block content_bundle %}

    <table class="table table-bordered table-condensed">
        <tr>
            <th>{{ 'treso.remuneration_brute'|trans({}, 'treso') }} :</th>
            <td class="money">{{ bv.remunerationBrute | money }}&nbsp;€</td>
        </tr>
        <tr>
            <th>{{ 'treso.nombre_jeh'|trans({}, 'treso') }} :</th>
            <td class="money">{{ bv.nombreJEH }}</td>
        </tr>
        <tr>
            <th>{{ 'treso.remuneration_brute_jeh'|trans({}, 'treso') }} :</th>
            <td class="money">{{ bv.remunerationBruteParJEH | money }}&nbsp;€</td>
        </tr>
        <tr>
            <th>{{ 'treso.base_urssaf'|trans({}, 'treso') }}. :</th>
            <td class="money">{{ bv.baseURSSAF ? bv.baseURSSAF.baseURSSAF | money }}&nbsp;€</td>
        </tr>
        <tr>
            <th>{{ 'treso.assiette_cotisations'|trans({}, 'treso') }} :</th>
            <td class="money">{{ bv.assietteDesCotisations | money }}&nbsp;€</td>
        </tr>

        <tr>
            <td colspan="2" style="visibility: hidden;"></td>
        </tr>

        <tr style="text-align: center;" class="active">
            <th rowspan="2">COTISATIONS SOCIALES</th>
            <th rowspan="2">{{ 'treso.base' | trans({}, 'treso') }}</th>
            <th colspan="2">{{ 'treso.part_je'|trans({}, 'treso') }}</th>
            <th colspan="2">{{ 'treso.part_etudiant'|trans({}, 'treso') }}</th>
        </tr>
        <tr style="text-align: center;" class="active">
            <th>{{ 'treso.taux'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.montant'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.taux'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.montant'|trans({}, 'treso') }}</th>
        </tr>
        {% for cotisation in bv.cotisationURSSAF %}
            <tr class="money">
                <td>{{ cotisation.libelle }}</td>
                <td>{{ (cotisation.isSurBaseURSSAF ? bv.assietteDesCotisations : bv.remunerationBrute ) | money }}</td>
                <td>{{ cotisation.tauxPartJE != 0 ? (cotisation.tauxPartJE * 100) | money(false) ~ ' %' }}</td>
                <td>{{ ((cotisation.isSurBaseURSSAF ? bv.assietteDesCotisations : bv.remunerationBrute) * cotisation.tauxPartJE) | money(false) }}</td>
                <td>{{ cotisation.tauxPartEtu != 0 ? (cotisation.tauxPartEtu * 100) | money(false) ~ ' %' }}</td>
                <td>{{ ((cotisation.isSurBaseURSSAF ? bv.assietteDesCotisations : bv.remunerationBrute) * cotisation.tauxPartEtu) | money(false) }}</td>
            </tr>
        {% endfor %}
        <tr class="active money">
            <th style="text-align: left;">{{ 'treso.total_cotisations_dues'|trans({}, 'treso') }}<br>(indexées sur l'assiette de cotisation)</th>
            <th>{{ bv.assietteDesCotisations | money }}&nbsp;€</th>
            <th>{{ (bv.tauxPartJunior['baseURSSAF'] * 100) | money }}&nbsp;%</th>
            <th>{{ bv.partJunior(true)['baseURSSAF'] | money }}&nbsp;€</th>
            <th>{{ (bv.tauxPartEtu['baseURSSAF'] * 100) | money }}&nbsp;%</th>
            <th>{{ bv.partEtudiant(true)['baseURSSAF'] | money }}&nbsp;€</th>
        </tr>
        <tr class="active money">
            <th style="text-align: left;">{{ 'treso.total_cotisations_dues'|trans({}, 'treso') }}<br>({{ 'treso.indexes_remunerations_brutes'|trans({}, 'treso') }})</th>
            <th>{{ bv.remunerationBrute  | money }}&nbsp;€</th>
            <th>{{ (bv.tauxPartJunior['baseBrute']*100) | money }}&nbsp;%</th>
            <th>{{ bv.partJunior(true)['baseBrute'] | money }}&nbsp;€</th>
            <th>{{ (bv.tauxPartEtu['baseBrute']*100) | money }}&nbsp;%</th>
            <th>{{ bv.partEtudiant(true)['baseBrute'] | money }}&nbsp;€</th>
        </tr>

        <tr>
            <td colspan="2" style="visibility: hidden;"></td>
        </tr>

        <tr>
            <th>{{ 'treso.total_cotisations_part_je'|trans({}, 'treso') }}</th>
            <th class="money">{{ bv.partJunior | money }}&nbsp;€</th>
        </tr>

        <tr>
            <th>{{ 'treso.total_cotisations_part_etudiant'|trans({}, 'treso') }}</th>
            <th class="money">{{ bv.partEtudiant | money }}&nbsp;€</th>
        </tr>

        <tr>
            <th>{{ 'treso.total_cotisations_total'|trans({}, 'treso') }}</th>
            <th class="money">{{ (bv.partJunior + bv.partEtudiant) | money }}&nbsp;€</th>
        </tr>

        <tr>
            <td colspan="2" style="visibility: hidden;"></td>
        </tr>

        <tr>
            <th>{{ 'treso.remuneration_brute'|trans({}, 'treso') }}</th>
            <th class="money">{{ bv.remunerationBrute | money }}&nbsp;€</th>
        </tr>

        <tr>
            <th>{{ 'treso.total_retenues_etudiant'|trans({}, 'treso') }}</th>
            <th class="money">{{ bv.partEtudiant | money }}&nbsp;€</th>
        </tr>

        <tr>
            <th>{{ 'treso.montant_net'|trans({}, 'treso') }}</th>
            <th class="money">{{ bv.remunerationNet | money }}&nbsp;€</th>
        </tr>

        <tr>
            <th>{{ 'treso.montant_net.imposable'|trans({}, 'treso') }} {{ 'treso.montant_net.taxes'|trans({}, 'treso') }}</th>
            <th class="money">{{ bv.remunerationNetImposable | money }}&nbsp;€</th>
        </tr>

        <tr class="active">
            <th>{{ 'treso.total_payer'|trans({}, 'treso') }} :</th>
            <th class="money">{{ bv.remunerationNet | money }}&nbsp;€</th>
        </tr>


    </table>

    <div class="row hidden-print">
        <div class="col-md-3 col-xs-6">
            <a type="button" class="btn btn-success"
               href="{{ path('mgate_publi_publiposter', { 'templateName' : constant('\\mgate\\PubliBundle\\Controller\\TraitementController::ROOTNAME_BULLETIN_DE_VERSEMENT') , 'rootName' : constant('\\mgate\\PubliBundle\\Controller\\TraitementController::ROOTNAME_BULLETIN_DE_VERSEMENT'), 'rootObject_id' : bv.id}) }}">
                Générer le BV
            </a>
        </div>
        {% if is_granted('ROLE_TRESO') %}
            <div class="col-md-3 col-xs-6">
                <a class="btn btn-primary" href="{{ path('mgateTreso_BV_modifier', {'id' : bv.id }) }}">
                    {{ 'treso.bv_modifier'|trans({}, 'treso') }}
                </a>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-3 col-xs-6">
                <a href="{{ path('mgateTreso_BV_supprimer', {'id': bv.id}) }}" class="btn btn-danger">
                    {{ 'treso.bv_supprimer'|trans({}, 'treso') }}
                </a>
            </div>
        {% endif %}
    </div>



{% endblock %}
