{# Page de liste des membres : les personnes s'étant inscrites à la Junior. #}
{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}Liste des Membres - {{ parent() }}{% endblock %}

{% block content_title %}
    Liste des Membres
{% endblock %}

{% block content_bundle %}

    <table class="table table-bordered table-striped dataTable dt-responsive" id="listeMembres" role="grid">
        <thead>
        <tr>
            <th>Promotion</th>
            <th>Identifiant</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Poste</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Adresse</th>
        </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td style="text-align: center;"><h4><span
                                class="label label-default">{{ membre.promotion ? "P" ~ membre.promotion }}</span>
                </td>
                <td style="text-align: center;"><h4><span class="label label-info">{{ membre.identifiant }}</span>
                    </h4>
                </td>
                <td>
                    <a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne ? membre.personne.prenom }}</a>
                </td>
                <td>
                    <a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne ? membre.personne.nom }}</a>
                </td>
                <td>
                    {% for mandat in membre.mandats %}
                        <span class="label label-{{ "now"|date('Ymd')  > mandat.finMandat |date('Ymd') ? 'default' : 'success' }}"
                              data-valide="{{ "now"|date('Ymd')  > mandat.finMandat |date('Ymd') ? 'ancien' : 'actuel' }}{{ mandat.poste.intitule }}">{{ mandat.debutMandat | date("d/m/Y") }}
                            <span class="glyphicon glyphicon-arrow-right"></span> {{ mandat.finMandat | date("d/m/Y") }}</span> {{ mandat.poste.intitule }}
                        <br/>
                    {% endfor %}
                </td>
                <td>{{ membre.personne ? membre.personne.email }}</td>
                <td>{{ membre.personne ? membre.personne.mobile }}</td>
                <td>{{ membre.personne ? membre.personne.adresse }} {{ membre.personne ? membre.personne.codepostal }} {{ membre.personne ? membre.personne.ville }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeMembres').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "aaSorting": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}
