{# Page de liste des intervenants : les personnes ayant déjà réalisé une mission.#}
{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}Liste des Intervenants - {{ parent() }}{% endblock %}

{% block content_title %}
    Liste des Intervenants
{% endblock %}

{% block content_bundle %}
    <span>
    Liste des membres ayant déjà réalisé une mission.
    </span>

    <table class="table table-bordered table-striped dataTable dt-responsive" id="listeIntervenants" role="grid">
        <thead>
        <tr>
            <th>Promotion</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Identifiant</th>
            <th>Nationalité</th>
            <th>CE</th>
            <th>Etude</th>
        </tr>
        </thead>
        <tbody>
        {% for membre in intervenants %}
            <tr>
                <td>{{ membre.promotion ? "P" ~ membre.promotion }}</td>
                <td>
                    <a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne.prenom }}</a>
                </td>
                <td><a href="{{ path('mgatePersonne_membre_voir', {'id': membre.id}) }}">{{ membre.personne.nom }}</a>
                </td>
                <td>{{ membre.identifiant }}</td>
                <td>
                    <span class="label label-{{ membre.nationalite == 'FR' ?  'success' : (  membre.nationalite == 'DZ'  ? 'danger' : 'warning' ) }}"
                          title="{{ membre.nationalite == 'FR' ?  'Français' : (  membre.nationalite == 'DZ'  ? 'Ne peut être intervenant' : 'Une Déclaration à la préfecture est nécessaire' ) }}">
                        {{ membre.nationalite }}
                    </span>
                </td>
                <td>REF : <span class="label label-{{ membre.dateConventionEleve ? "success" : "warning" }}">
                        Convention élève {{ membre.dateConventionEleve ? membre.dateConventionEleve | date('d/m/Y') : "Non signée" }}
                    </span>
                </td>
                <td>
                    {% for mission in membre.missions %}
                        <span class="label label-{{ membre.dateConventionEleve ? ( membre.dateConventionEleve <= mission.debutOm |date_modify("-7 day") ? "success" : "warning" ) : "danger" }}">{{ mission.debutOm ? mission.debutOm  | date("d/m/Y") : "?" }}
                            -> {{ mission.finOm ? mission.finOm | date("d/m/Y") : "?" }}</span>
                        | <a
                            href="{{ path("mgateSuivi_etude_voir", {'nom' : mission.etude.nom}) }}">{{ mission.etude.reference }}</a>
                        <br/>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <li>Pas (encore !) de Membre</li>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#listeIntervenants').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "aaSorting": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}
