{% extends "MgatePersonneBundle::layout.html.twig" %}

{% block title %}
    Affichage d'un Membre - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb no-margin pull-right">
        <li>
            <a href="{{ path('MgatePersonne_membre_homepage') }}">Liste des membres</a>
        </li>
        <li>
            {{ membre.personne.PrenomNom }}
        </li>
    </ul>
{% endblock %}


{% block content_bundle %}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Fiche</a></li>
            <li><a href="#tab2" data-toggle="tab">Documents</a></li>
        </ul>
        <div class="tab-content">
            <!-- FICHE -->
            <div class="tab-pane active" id="tab1">
                {% include "MgatePersonneBundle:Membre:TabVoir/fiche.html.twig" with  {'membre':  membre} %}
            </div>
            <!-- DOCUMENTS -->
            <div class="tab-pane" id="tab2">
                {% include "MgatePersonneBundle:Membre:TabVoir/documents.html.twig" with  {'membre':  membre} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a class="btn btn-default" href="{{ path('MgatePersonne_membre_homepage') }}">Retour à la liste des
                membres</a>
        </div>
        {% if is_granted('ROLE_ADMIN') and membre.personne and membre.personne.user is null %}
            <div class="col-sm-3 col-xs-6">

                {% if membre.personne.email is not null %}

                    {{ form_start(create_user_form) }}
                    {{ form_widget(create_user_form) }}
                    <button type="submit" class="btn btn-primary">Ouvrir
                        un compte utilisateur
                    </button>
                    {{ form_end(create_user_form) }}
                {% elseif  membre.personne.email is null %}
                    <code>
                        Vous devez définir un email valide pour créer un compte utilisateur à ce membre.
                    </code>
                {% endif %}
            </div>
        {% endif %}
        <div class="col-sm-3 col-xs-6">

            <a class="btn btn-warning" href="{{ path('MgatePersonne_membre_modifier', {'id': membre.id}) }}">
                Modifier le membre</a>
        </div>
    </div>

{% endblock %}
