{% extends "mgateTresoBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}{{ 'treso.intervenants_tableau'|trans({}, 'treso') }} - {{ parent() }}{% endblock %}

{% block content_title %}
    {{ 'treso.intervenants_tableau'|trans({}, 'treso') }}
{% endblock %}


{% block content_bundle %}

    <form method="post" {{ form_enctype(form) }}>
        {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
        {{ form_label(form.date) }} {{ form_widget(form.date) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'treso.chercher'|trans({}, 'treso') }}" class="btn btn-primary"/>
    </form>


    <br>
    <table class="table table-bordered table-striped dataTable dt-responsive" id="listeUrssaf" role="grid">
        <thead>
        <tr>
            <th>
                <div>{{ 'treso.nom_etude'|trans({}, 'treso') }}</div>
            </th>
            <th>
                <div>{{ 'treso.client'|trans({}, 'treso') }}</div>
                <div>{{ 'treso.suiveur'|trans({}, 'treso') }}</div>
            </th>
            <th>
                <div>{{ 'treso.date_lancement_etude'|trans({}, 'treso') }}</div>
                <div>{{ 'treso.date_fin_etude'|trans({}, 'treso') }}</div>
            </th>
            <th>
                {{ 'treso.nom'|trans({}, 'treso') }} {{ 'treso.prenom'|trans({}, 'treso') }}
            </th>
            <th>
                <div>{{ 'treso.nombre_jeh_etude'|trans({}, 'treso') }}</div>
            </th>
            <th>
                <div>{{ 'treso.nombre_jeh_etudiant'|trans({}, 'treso') }}</div>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for rm in RMs %}
            <tr>
                <td>
                    <div>
                        <a href="{{ path('mgateSuivi_etude_voir', {'nom': rm.etude.nom}) }}"> {{ rm.etude.reference }}</a>
                    </div>
                </td>
                <td>{{ rm.etude.prospect.nom }}
                    <br/><br/>
                    {{ rm.etude.suiveur.prenomNom| default("Pas de suiveur!") }}</td>
                <td>
                    {% if rm.etude.dateLancement != NULL %}
                        <div>{{ rm.etude.dateLancement |date("Y/m/d") }}</div>{% endif %}
                    {% if rm.etude.dateFin != NULL %}
                        <div>{{ rm.etude.dateFin|date("Y/m/d") }}</div>{% endif %}
                </td>
                <td>
                    {{ rm.intervenant.personne.prenomNom | default("Intervenant non choisi") }} {{ rm.intervenant.nom | default("") }}
                </td>
                <td data-order="{{ rm.etude.montantHT |default(0) }}">
                    <div>{{ rm.etude.montantHT |default('') }} €</div>
                    <div>{{ rm.etude.nbrJEH |default('') }} {{ 'treso.jeh'|trans({}, 'treso') }}</div>
                </td>
                <td>
                    {% set totalJEH = 0 %}
                    {% set totalRem = 0 %}
                    {% for repartition in rm.repartitionsJEH if repartition %}
                        {% set totalJEH = totalJEH + repartition.nbrJEH %}
                        {% set totalRem = totalRem + repartition.nbrJEH * repartition.prixJEH * (1-rm.pourcentageJunior) %}
                        <div>Repartition n°{{ loop.index }} : {{ repartition.nbrJEH }}
                            * {{ repartition.prixJEH * (1-rm.pourcentageJunior) }}
                            = {{ repartition.prixJEH * repartition.nbrJEH*(1-rm.pourcentageJunior) }} €
                        </div>
                    {% endfor %}
                    <div>{{ 'treso.total_verse'|trans({}, 'treso') }} : {{ totalJEH }} {{ 'treso.jeh'|trans({}, 'treso') }} - {{ totalRem }} €</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}

    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
            $('#listeUrssaf').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "aaSorting": [[0, 'desc']],
                "columnDefs": [ {
                    "targets": 4,
                    "sortable": true
                } ]
            });
    </script>
{% endblock %}
