{# Formulaire d'ajout d'un de Prospect #}

<form method="post" {{ form_enctype(form) }}>
	
	<table class="table table-bordered table-striped standard">
        <tr>
            <th>{{ form_label(form.nom) }}</th>
            <td>{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.entite) }}</th>
            <td>{{ form_widget(form.entite) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.adresse) }}</th>
            <td>
					<table>
						<tr>
							<th>Adresse</th>
							<td> {{ form_widget(form.adresse,{ 'attr': {'cols': '50', 'rows':'3'} }) }}</td>
						</tr>
						<tr>
							<th>Code Postal</th>
							<td>{{ form_widget(form.codepostal) }}</td>
						</tr>
						<tr>
							<th>Ville</th>
							<td>{{ form_widget(form.ville) }}</td>
						</tr>
						<tr>
							<th>Pays</th>
							<td>{{ form_widget(form.pays) }}</td>
						</tr>
						
					</table>
			
				{# { form_widget(form.adresse) } #}
			</td>
        </tr>
    </table>
	
	{{ form_widget(form) }}
	
	<input type="submit" class="btn"/>
</form>