{% extends "mgatePersonneBundle::layout.html.twig" %}

{% block title %}
    Affichage d'un prospect - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block content_title %}
    Affichage d'un prospect
{% endblock %}

{% block content_bundle %}

    <h2>{{ prospect.nom }}</h2>
    <em><h4>Type de prospect : {{ prospect.EntiteToString }}</h4></em>
    <p>
    <h4>Adresse : {{ prospect.adresse }}
        <br>
        {{ prospect.codePostal }} {{ prospect.ville }}
    </h4>
    </p>

    <div class="tabs-container no-margin">
        <ul class="nav nav-tabs no-margin" style="font-weight: bold;">
            <li class="active"><a href="#tab1" data-toggle="tab">Employés</a></li>
            <li><a href="#tab2" data-toggle="tab">Etudes</a></li>
            <li><a href="#tab3" data-toggle="tab">Mailing</a></li>
            <li><a href="#tab4" data-toggle="tab">Commentaires</a></li>
        </ul>
        <div class="tab-content">
            <!-- Liste des employés -->
            <div class="tab-pane active" id="tab1">
                {% include "mgatePersonneBundle:Prospect:TabVoir/employes.html.twig" %}
            </div>
            <!-- Etudes faites avec ce prospect -->
            <div class="tab-pane" id="tab2" style="min-height:200px;">
                {% include "mgatePersonneBundle:Prospect:TabVoir/etudes.html.twig" %}
            </div>
            <!-- Mailing list -->
            <div class="tab-pane" id="tab3">
                {% include "mgatePersonneBundle:Prospect:TabVoir/mailing.html.twig" %}
            </div>
            <!-- commentaires (fos rest) -->
            <div class="tab-pane" id="tab4">
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': prospect.thread.id} %}
            </div>
        </div>
    </div>


{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#employes').dataTable({
                "searching": false,
                "bPaginate": false,
                "aaSorting": [[0, 'asc']]
            });
        });
        $(document).ready(function () {
            $('#etudes').dataTable({
                responsive: true,
                "searching": false,
                "bPaginate": false,
                "aaSorting": [[0, 'asc']]
            });
        });
    </script>

{% endblock %}