{% extends "mgateTresoBundle::layout.html.twig" %}

{% block title %}
    {{ 'treso.declaration_urssaf_brc'|trans({}, 'treso') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'treso.declaration_urssaf_brc'|trans({}, 'treso') }}
{% endblock %}

{% block content_bundle %}
    <form method="post" {{ form_enctype(form) }} class="form-inline row">
        {% form_theme form 'mgateSuiviBundle:Form:fields.html.twig' %}
        <div class="col-md-3 col-xs-12">
            {{ form_label(form.date) }} {{ form_widget(form.date) }}
        </div>
        <div class="col-md-3 col-xs-12">
            {{ form_widget(form) }}
        </div>
        <div class="col-md-3 col-xs-12">
            <input type="submit" value="{{ 'treso.chercher'|trans({}, 'treso') }}" class="btn btn-default"/>
        </div>
    </form>

    <br>

    {{ 'treso.nombre_salaries_periode_declaration'|trans({}, 'treso') }}
    <span data-toggle="tooltip" class="badge badge-default"
          title="{{ 'treso.nombre_intervenants_au_moins_un_jeh'|trans({}, 'treso') }}">
        ?
    </span>
    : {{ nbSalarieRemunere }}

    </span>
    <!--h4 title="Nombre d’intervenants différents ayant au moins un RM en cours à la fin de la période">
        Nombre de salariés concernés par la déclaration au dernier jour de la période
    </h4-->
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{ 'treso.bv_reference'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.etudiant'|trans({}, 'treso') }}</th>
            <th>{{ 'treso.cotisations_montant'|trans({}, 'treso') }}</th>
        </tr>
        {% set totalCotisation = 0 %}
        {% for bv in bvs %}
            {% set totalCotisation = totalCotisation + bv.partJunior %}
            <tr>
                <td>{{ bv.reference }}</td>
                <td>{{ bv.mission.intervenant.personne.prenomNom }}</td>
                <td>{{ bv.partJunior }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2">{{ 'treso.total'|trans({}, 'treso') }}</th>
            <th>{{ totalCotisation }}</th>
        </tr>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
