{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block title %}
    {{ 'suivi.accueil'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.ap_liste'|trans({}, 'suivi') }}</h2>

    <ul>

        {% for phase in phases %}
            <li>
                <a href="{{ path('mgateSuivi_etude_voir', {'id': phase.id}) }}"> </a>
            </li>
        {% else %}
            <li>{{ 'suivi.phase_pas_encore'|trans({}, 'suivi') }}</li>
        {% endfor %}

    </ul>

{% endblock %}
