{% extends "MgateSuiviBundle::layout.html.twig" %}

{% block title %}
    {{ 'suivi.phase'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.avant_projet'|trans({}, 'suivi') }} n°{{ etude.id }}</h2>
    <i>{{ 'suivi.etude.faite_par'|trans({}, 'suivi') }} {{ etude.mandat }}, {{ 'suivi.etude.cree_le'|trans({}, 'suivi') }} {{ etude.dateCreation|date("d/m/Y") }}</i>
    <i>{{ 'suivi.client'|trans({}, 'suivi') }} {{ etude.prospect.nom }} </i>
    <i>{{ 'suivi.description'|trans({}, 'suivi') }}: {{etude.description }}</i>
    <br>
    <h2>{{ 'suivi.avant_projet'|trans({}, 'suivi') }}</h2>

    {% for ap in etude.aps %}
        <i>{{ 'suivi.version'|trans({}, 'suivi') }} {{ap.id}}</i>
    {% endfor %}

    <div>

    </div>

    <p>
        <a href="{{ path('MgateSuivi_etude_homepage') }}">{{ 'suivi.retour_liste'|trans({}, 'suivi') }}</a>
        <a href="{{ path('MgateSuivi_etude_modifier', {'nom': etude.nom}) }}">{{ 'suivi.etude_modifier'|trans({}, 'suivi') }}</a>

    </p>

{% endblock %}
