{% extends "MgateSuiviBundle::layout.html.twig" %}

{% block title %}
    {{ 'suivi.suivi_qualite_etudes'|trans({}, 'suivi') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <table id="control" class="table table-bordered">
        <tr>
            <th>{{ 'suivi.panneau_controle'|trans({}, 'suivi') }}</th>
            <td><label for="checkbox-gantt">{{ 'suivi.gantt'|trans({}, 'suivi') }}</label>
                <input id="checkbox-gantt" type="checkbox" onchange="$('#ganttChart').toggle();"/></td>
            <td><label for="checkbox-encou">{{ 'suivi.etudes_en_cours'|trans({}, 'suivi') }}</label>
                <input id="checkbox-encou" type="checkbox" checked="checked" onchange="$('#content-1').toggle();"/></td>
            <td><label for="checkbox-termi">{{ 'suivi.etudes_terminees'|trans({}, 'suivi') }}</label>
                <input id="checkbox-termi" type="checkbox" checked="checked" onchange="$('#content-2').toggle();"/></td>
            <td><label for="checkbox-infos">{{ 'suivi.informations_qualites'|trans({}, 'suivi') }}</label>
                <input id="checkbox-infos" type="checkbox" checked="checked" onchange="$('.rawInfos').toggle();"/></td>
            <td><label for="checkbox-warns">{{ 'suivi.warnings'|trans({}, 'suivi') }}</label>
                <input id="checkbox-warns" type="checkbox" checked="checked" onchange="$('.rawWarns').toggle();"/></td>
            <td><label for="checkbox-error">{{ 'suivi.errors'|trans({}, 'suivi') }}</label>
                <input id="checkbox-error" type="checkbox" checked="checked" onchange="$('.rawError').toggle();"/></td>
        </tr>
    </table>


    <div id="ganttChart" style="width: 100%; display:none;"></div>

    {% set typeEtude = {"Etude en cours" : etudesEnCours, "Etudes Terminees" : etudesTerminees } %}
    {% for label,etudes in typeEtude %}
        <table id="content-{{ loop.index }}" class="table table-bordered table-striped">
            <tr>
                <th>{{ label }}</th>
                <th>{{ 'suivi.client'|trans({}, 'suivi') }}</th>
                <th>{{ 'suivi.intervenants'|trans({}, 'suivi') }}</th>
            </tr>
            {% for etude in etudes %}
                <tr>
                    <th><a href="{{ path('MgateSuivi_etude_voir', {'nom': etude.nom}) }}">{{ etude.nom }}</a></th>
                    <td></td>
                    <td></td>
                </tr>
                {% if etude.stateDescription %}
                    <tr class="rawInfos">
                        <td colspan="3">
                            <div class="alert alert-block alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <h4>{{ 'suivi.controle_qualite'|trans({}, 'suivi') }} :</h4>
                                {{ etude.stateDescription | nl2br }}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                <tr class="rawError">
                    <td colspan="3">{% include "MgateSuiviBundle:Etude:Infos/error.html.twig" with  {'etude':  etude} %}</td>
                </tr>
                <tr class="rawWarns">
                    <td colspan="3">{% include "MgateSuiviBundle:Etude:Infos/warning.html.twig" with  {'etude':  etude} %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/highcharts.js') }}"></script>
    <script src="{{ asset('js/highcharts-fr.js') }}"></script>
    <script src="{{ asset('js/exporting.js') }}"></script>

    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
