{% extends "mgateSuiviBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    Affichage des contacts client - {{ parent() }}
{% endblock %}

{% block content_title %}
    Affichage des contacts client
{% endblock %}

{% block content_bundle %}
    <table class="table table-bordered table-striped dataTable dt-responsive" id="contactsClients" role="grid">
        <thead>
        <tr>
            <th>Contacts</th>
            <th>Date</th>
            <th>Fait Par</th>
            <th>Etude</th>
            <th>Objet</th>
            <th>Contenu</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contactsClient | reverse %}
            <tr>
                <td>
                    {{ contactsClient | length - loop.index0 }}
                </td>
                <td>
                    {{ contact.date | date("d/m/Y") }}
                </td>
                <td>
                    {{ contact.faitPar.PrenomNom }}
                </td>
                <td>
                    <b>{{ contact.etude.nom }}</b>
                </td>
                <td>
                    <a href="{{ path('mgateSuivi_clientcontact_voir', {'id': contact.id}) }}">
                        {% if contact.moyenContact == 'telephone' %}
                            <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom }}"
                               class="fa fa-headphones"></i>
                        {% elseif contact.moyenContact == 'mail' %}
                            <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom }}"
                               class="fa fa-envelope"></i>
                        {% else %}
                            <i title="{{ contact.date | date("d/m/Y - ") ~ contact.faitPar.PrenomNom }}"
                               class="fa fa-eye"></i>
                        {% endif %}
                        {{ contact.objet }}
                    </a>
                </td>
                <td>
                    {{ contact.contenu | nl2br }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#contactsClients').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "iDisplayLength": 50,
                "aaSorting": [[0, 'desc']]
            });
        });
    </script>
{% endblock %}
